<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="firstBean" class="com.tupu.testing.dao.FirstBean">
		<property name="name" value="firstBean"/>
	</bean>

	<bean id="firstBeanFactoryProcessor" class="com.tupu.testing.config.FirstBeanFactoryProcessor"/>

</beans>